<!--
 * @Author: FrankFungcode combeebe@gmail.com
 * @Date: 2025-12-13 12:21:31
 * @LastEditors: FrankFungcode combeebe@gmail.com
 * @LastEditTime: 2025-12-16 00:13:07
 * @FilePath: \frank-ai-bff\views\index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/scripts/index.js"></script>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <!-- 后端模板引擎EJS koa/ejs 服务端渲染 -->
    <!-- {{ data }} -->
    HI
    <span><%= data %></span>
    <div id="app"></div>
  </body>
</html>
